@inherits LearnBlazorBase
@page "/learnBlazor"

<h3 class="text-info pb-3">@WelcomeText</h3>

<p> On Change &nbsp; <input @bind="name" /> </p>
<p> On Spontaneous &nbsp; <input @bind="name" @bind:event="oninput"/> </p>

<p> I am @(name!=null?name:"______") </p>
<p><button @onclick="getName">Surprise Me!</button></p>

