@page "/"

@using BlazorShop.Services
@using BlazorShop.Models
@using BlazorShop.Data

@inherits OwningComponentBase<ProductService>

<div class="row">
    @foreach(var product in listProduct)
    {
        <BlazorShop.Pages.Components.IndividualProduct product="product"></BlazorShop.Pages.Components.IndividualProduct>
    }
</div>


@code {
    List<Product> listProduct = new List<Product>();

    protected override void OnInitialized()
    {
        listProduct = Service.GetProducts();
    }
}
